<tr id="tr-{{id}}" {{#if swap_oob}}hx-swap-oob="true"{{/if}}>
  <td class="domains-id">
    {{id}}
  </td>
  <td class="domains-address right-fade">
    {{address}}    <p class="description">
      {{i18n 'admin.domain.by'}}&nbsp;
      {{~#if user_id~}}
        <a 
          aria-label="{{i18n 'admin.domain.viewUser'}}" 
          data-tooltip="{{i18n 'admin.domain.viewUser'}}" 
          hx-get="/api/users/admin"
          hx-target="closest table"
          hx-swap="outerHTML" 
          hx-sync="this:replace"
          hx-indicator="closest table"
          hx-vals='{"search":"{{email}}"}'
          onclick="setTab(event, 'tab-links')"
        >
          {{email}}
        </a>
        {{#ifEquals @root.query.user email}}
        {{else}}
          &nbsp;(
          <a 
            aria-label="{{i18n 'admin.domain.viewDomains'}}" 
            data-tooltip="{{i18n 'admin.domain.viewDomains'}}" 
            hx-get="/api/domains/admin"
            hx-target="closest table"
            hx-swap="outerHTML" 
            hx-sync="this:replace"
            hx-indicator="closest table"
            hx-vals='{"user":"{{email}}"}'
          >
            {{i18n 'admin.domain.viewDomains'}}
          </a>)
        {{/ifEquals}}
      {{~else~}}
        <a 
          aria-label="{{i18n 'admin.domain.viewSystemDomains'}}" 
          data-tooltip="{{i18n 'admin.domain.viewSystemDomains'}}" 
          hx-get="/api/domains/admin"
          hx-target="closest table"
          hx-swap="outerHTML" 
          hx-sync="this:replace"
          hx-indicator="closest table"
          hx-vals='{"owner":"false"}'
        >
          {{i18n 'admin.domain.system'}}
        </a>
      {{~/if~}}
      &nbsp;{{~#if description~}}· {{description}}{{~/if}}
    </p>
  </td>
  <td class="domains-homepage right-fade">    {{#if homepage}}
      <a href="{{homepage}}" target="_blank" rel="noopener noreferrer">
        {{homepage}}
      </a>
    {{else}}
      {{i18n 'admin.domain.noHomepage'}}
    {{/if}}
  </td>
  <td class="domains-created-at">
    {{relative_created_at}}
  </td>
  <td class="domains-links-count">
    {{#ifEquals links_count '0'}}
      {{links_count}}
    {{else}}      <a
        data-tooltip="{{i18n 'admin.domain.viewLinks'}}"
        aria-label="{{i18n 'admin.domain.viewLinks'}}"
        hx-get="/api/links/admin"
        hx-target="closest table"
        hx-swap="outerHTML" 
        hx-sync="this:replace"
        hx-vals='{"domain":"{{address}}"}'
        hx-indicator="closest table"
        onclick="setTab(event, 'tab-links')"
      >
        {{links_count}}
      </a>
    {{/ifEquals}}
  </td>
  {{> admin/domains/actions}}
</tr>
<tr class="edit">
  <td class="loading">
    {{> icons/spinner}}
  </td>
</tr>