<section id="delete-account-wrapper">
  <h2>
    {{i18n 'settings.deleteAccount.title'}}
  </h2>
  <p>{{i18n 'settings.deleteAccount.description'}}</p>
  <form 
    id="delete-account"
    hx-post="/api/users/delete"
    hx-select="form"
    hx-target="this"
    hx-swap="outerHTML"
    hx-sync="this:abort"
  >
    {{#if success}}
      <p class="success">{{success}}</p>
    {{else}}
      <div class="inputs">        <label class="{{#if errors.password}}error{{/if}}">
          {{i18n 'settings.deleteAccount.password'}}:
          <input 
            id="password-for-delete-account" 
            name="password" 
            type="password" 
            placeholder="{{i18n 'auth.login.password'}}..."
            hx-preserve="true"
          />
          {{#if errors.password}}<p class="error">{{errors.password}}</p>{{/if}}
        </label>
      </div>      
      <button type="submit" class="danger">
        <span>{{> icons/trash}}</span>
        <span>{{> icons/spinner}}</span>
        {{i18n 'settings.deleteAccount.submit'}}
      </button>
      {{#if error}}
        {{#unless errors}}
          <p class="error">{{error}}</p>
        {{/unless}}
      {{/if}}
    {{/if}}
  </form>
</section>