<div class="content create-user">
  <h2>{{i18n 'dialog.admin.user.create.title'}}</h2>
  <form
    id="create-user-form"
    hx-post="/api/users/admin" 
    hx-target="closest .content" 
    hx-swap="outerHTML" 
    hx-indicator="closest .content"
  >
    <label class="{{#if errors.email}}error{{/if}}">
      {{i18n 'dialog.admin.user.create.email'}}:
      <input
        name="email"
        id="create-user-email"
        type="email"
        placeholder="{{i18n 'dialog.admin.user.create.email'}}..."
        hx-preserve="true"
      />
      {{#if errors.email}}<p class="error">{{errors.email}}</p>{{/if}}
    </label>
    <label class="{{#if errors.password}}error{{/if}}">
      {{i18n 'dialog.admin.user.create.password'}}:
      <input
        name="password"
        id="create-user-password"
        type="password"
        placeholder="{{i18n 'dialog.admin.user.create.password'}}..."
        hx-preserve="true"
      />
      {{#if errors.password}}<p class="error">{{errors.password}}</p>{{/if}}
    </label>    <label class="{{#if errors.role}}error{{/if}}">
      {{i18n 'dialog.admin.user.create.role'}}:
      <select name="role" id="create-user-role" hx-preserve="true">
        <option value="USER" selected>{{i18n 'dialog.admin.user.create.roleUser'}}</option>
        <option value="ADMIN">{{i18n 'dialog.admin.user.create.roleAdmin'}}</option>
      </select>
      {{#if errors.role}}<p class="error">{{errors.role}}</p>{{/if}}
    </label>
    <div class="checkbox-wrapper">
      <label class="checkbox">
        <input 
          id="create-user-verified" 
          name="verified" 
          type="checkbox"
          onchange="canSendVerificationEmail();" 
          hx-preserve="true"
          checked
        />
        {{i18n 'dialog.admin.user.create.verified'}}
      </label>
      <label class="checkbox">
        <input 
          id="create-user-banned" 
          name="banned"
          type="checkbox"
          onchange="canSendVerificationEmail();" 
          hx-preserve="true"
        />
        {{i18n 'dialog.admin.user.create.banned'}}      </label>
    </div>
    <label id="send-email-label" class="checkbox hidden" hx-preserve="true">
      <input id="create-user-send-email" name="verification_email" type="checkbox" />
      {{i18n 'dialog.admin.user.create.sendEmail'}}
    </label>
    <div class="buttons">
      <button type="button" hx-on:click="closeDialog()">{{i18n 'dialog.cancel'}}</button>
      <button type="submit" class="primary">
        <span>{{> icons/new_user}}</span>
        {{i18n 'dialog.admin.user.create.button'}}
      </button>
      {{> icons/spinner}}
    </div>
  </form>
  <div id="dialog-error">
    {{#if error}}
      <p class="error">{{error}}</p>
    {{/if}}
  </div>
</div>