<h2>
  {{i18n 'settings.domain.title'}}
</h2>
<p>
  {{i18n 'settings.domain.description'}}
</p>

{{#if server_cname_address}}
  <p>    {{i18n 'settings.domain.pointARecord'}} 
    {{#if server_ip_address}}
      <b>{{server_ip_address}}</b>
    {{else}}
      {{i18n 'settings.domain.ourIpAddress'}}
    {{/if}} {{i18n 'settings.domain.orPointCNAME'}}
    <b>{{server_cname_address}}</b>. {{i18n 'settings.domain.cloudflareNote'}}
  </p>
  <p>{{i18n 'settings.domain.thenAddDomain'}}</p>
{{else}}  <p>
    {{i18n 'settings.domain.pointARecord'}} 
    {{#if server_ip_address}}
      <b>{{server_ip_address}}</b>
    {{else}}
      {{i18n 'settings.domain.ourIpAddress'}}
    {{/if}} 
    {{i18n 'settings.domain.thenAddDomain'}}
  </p>
{{/if}}

{{> settings/domain/table}}
<div class="add-domain-wrapper">  <button
    type="button"
    class="secondary show-domain-form"
    hx-indicator=".add-domain-wrapper"
    hx-get="/add-domain-form"
    hx-target="#domain-form-wrapper"
    hx-swap="innerHTML"
    hx-on::after-request="event.srcElement.classList.add('hidden')"
  >
    <span>{{> icons/plus}}</span>
    {{i18n 'settings.domain.add'}}
  </button>
  {{> icons/spinner}}
  <div id="domain-form-wrapper">
  </div>
</div>
{{> settings/domain/dialog}}